<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.face.mapper.UserMapper">
    <update id="updateUser">
        update face_test set name = #{name} where id = #{id}
    </update>

    <delete id="deleteUserById">
        delete from face_test where id = #{id}
    </delete>

    <select id="queryUserList" resultType="com.face.pojo.User">
        select *
        from face_test
    </select>

    <insert id="addUser">
        insert into face_test (id,name) values (#{id},#{name})
    </insert>

<!--    <select id="queryUserById" resultType="com.face.pojo.User">-->
<!--        select * from face_test where id = #{id}-->
<!--    </select>-->


</mapper>